<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>验证站点配置</title>
    <link rel="stylesheet" href="/app/admin/component/pear/css/pear.css"/>
    <link rel="stylesheet" href="/app/admin/admin/css/reset.css"/>
</head>
<body>

<form class="layui-form" action="">

    <div class="mainBox">
        <div class="main-container mr-5">

            <div class="layui-form-item">
                <label class="layui-form-label required">站点</label>
                <div class="layui-input-block">
                    <div name="site" id="site" required value=""></div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label ">站点种子ID</label>
                <div class="layui-input-block">
                    <input type="text" name="torrent_id" value="" required lay-verify="required" placeholder="请输入站点种子id" lay-vertype="tips" lay-reqtext="站点内种子ID必填" class="layui-input" >
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label ">站点种子分组ID</label>
                <div class="layui-input-block">
                    <input type="text" name="group_id" value="" placeholder="请输入站点内种子分组ID（特有字段：海豚、海报、皮等）" class="layui-input">
                </div>
            </div>

        </div>
    </div>

    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-md" lay-submit=""
                    lay-filter="save">
                测试下载
            </button>
        </div>
    </div>

</form>

<script src="/app/admin/component/layui/layui.js?v=2.8.12"></script>
<script src="/app/admin/component/pear/pear.js"></script>
<script src="/app/admin/admin/js/permission.js"></script>

<script>

    // 相关接口
    const BIND_API = "/admin/site/test_sid";
    const RECOMMEND_API = '/admin/site/select';

    // 字段 合作站点
    layui.use(["jquery", "xmSelect", "popup"], function () {
        layui.$.ajax({
            url: RECOMMEND_API + '?format=select&limit=1000',
            dataType: "json",
            success: function (res) {
                let value = layui.$("#site").attr("value");
                let initValue = value ? value.split(",") : [];
                layui.xmSelect.render({
                    el: "#site",
                    name: "site",
                    initValue: initValue,
                    filterable: true,
                    data: res.data,
                    prop: {
                        name: 'name',
                        value: 'value',
                    },
                    model: {"icon": "hidden", "label": {"type": "text"}},
                    clickClose: true,
                    radio: true,
                    layVerify: "required",
                });
                if (res.code) {
                    layui.popup.failure(res.msg);
                }
            }
        });
    });

    //提交事件
    layui.use(["form", "popup"], function () {
        layui.form.on("submit(save)", function (data) {
            if (data.field.group_id === "") {
                data.field.group_id = "0"; // 将空字符串设置为 "0"
            }
            console.log(data.field)
            layui.$.ajax({
                url: BIND_API,
                type: "POST",
                dateType: "json",
                data: data.field,
                success: function (res) {
                    if (res.code) {
                        return layui.popup.failure(res.msg);
                    }
                    return layui.popup.success(res.msg);
                }
            });
            return false;
        });
    });

</script>

</body>
</html>
